/* RESETEO*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

.patron {
  max-width: 1500px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #f1f1f1;
  font-size: 25px;
}

nav h1 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
}

.listNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}
nav li a {
  text-decoration: none;
  display: inline-block;
  color: #f1f1f1;
  font-size: 16px;
  opacity: 0.7;
}
nav li a:hover {
  opacity: 1;
}

header p {
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
  padding: 20px 0;
  margin: 0;
}

footer {
  padding: 20px 30px;
  border-top: black 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: #1c1c1c;
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.networkFooter a {
  text-decoration: none;
  display: inline-block;
  color: #1c1c1c;
  font-size: 25px;
  margin-left: 10px;
  transition: transform 300ms ease;
}
.networkFooter a:hover {
  transform: scale(1.3);
}

/*BOTONES*/
.openBtn,
.closeBtn,
.cartBtn,
.userBtn {
  display: inline-block;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: #f1f1f1;
  background-color: black;
  padding: 10px;
}

.cartBtn,
.userBtn {
  color: #464646;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.openBtn,
.closeBtn {
  display: none;
}

.wassap {
  position: fixed;
  z-index: 3;
  bottom: 60px;
  right: 30px;
  border-radius: 50%;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.wassap:hover {
  transform: scale(1.1);
}
.wassap .btnWass {
  width: 60px;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.mainHome {
  width: 100%;
  height: auto;
  display: grid;
  gap: 25px;
  grid-template-areas: "slider slider slider" "article1Services article1Services article2Services" "featured featured featured";
}

.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  grid-area: slider;
}
.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.slider li {
  list-style-type: none;
  width: 100%;
  height: 500px;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.boxSlider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  z-index: 1;
  background-color: rgba(196, 196, 196, 0.6);
  width: 350px;
  height: 300px;
  padding: 30px;
}
.boxSlider span {
  font-size: 30px;
  display: inline-block;
}
.boxSlider p {
  font-size: 60px;
  margin: 10px 0;
}
.boxSlider a {
  text-decoration: none;
  display: inline-block;
  color: #1c1c1c;
  font-size: 20px;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px 0;
  transition: all 300ms ease;
  border-radius: 5px;
  text-align: center;
}
.boxSlider a:hover {
  background-color: #3c3c3c;
  color: #f1f1f1;
  cursor: pointer;
}

.article1Services {
  background-image: url("../Media/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  grid-area: article1Services;
  padding-left: 50px;
}
.article1Services h2 {
  font-weight: 300px;
  font-size: 35px;
  padding-top: 60px;
}
.article1Services a {
  text-decoration: none;
  display: inline-block;
  color: #1c1c1c;
  font-size: 35px;
  position: relative;
  font-weight: bold;
}
.article1Services a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transform: scale(1);
  transform-origin: bottom left;
  transition: transform 300ms ease-in-out;
}
.article1Services a:hover::after {
  transform: scale(0);
  transform-origin: bottom left;
}

.article2Services {
  height: 200px;
  grid-area: article2Services;
}
.article2Services img {
  width: 100%;
  height: 100%;
}

.featurd {
  padding: 40px 0;
  grid-area: featured;
}
.featurd h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.featurd .collecionFeaturd {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 350px;
  display: block;
  color: #1c1c1c;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  transition: transform 500ms ease;
}
.card img:hover {
  transform: scale(1.1);
}
.card:hover::before {
  content: "Ver mas";
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  position: absolute;
  text-align: center;
  padding: 22px 0;
  z-index: 2;
}

.txtCard {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  background: white;
}
.txtCard h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 25px;
  margin: 5px 0;
}
.txtCard p {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
}

.items {
  padding: 40px 0;
}
.items h2 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
  padding-left: 30px;
}

.collecion {
  width: 100%;
  height: auto;
  display: grid;
  padding: 10px;
  row-gap: 30px;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  justify-items: center;
}

.card2 {
  width: 280px;
  height: auto;
  border-radius: 10px;
  border: 1px solid;
  overflow: hidden;
}
.card2 .imgCard {
  width: 100%;
  height: 250px;
  position: relative;
}

.imgCard img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imgCard .on {
  z-index: 2;
}
.imgCard .off {
  z-index: 1;
}
.imgCard .on:active {
  z-index: 0;
}

.offer::after {
  content: "Oferta";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  text-align: center;
  padding: 10px 10px;
  z-index: 3;
  color: #f1f1f1;
}

.card2 .tituloCard2 {
  padding: 10px 0 10px 5px;
}
.card2 a {
  text-decoration: none;
  display: inline-block;
  color: #1c1c1c;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
}
.card2 label {
  display: inline-block;
  color: #464646;
}
.card2 span {
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.details {
  height: 630px;
  overflow: hidden;
  background: rgba(177, 177, 177, 0.5333333333);
}

.card3 {
  padding-left: 20px;
}
.card3 h3 {
  font-weight: bold;
  background-color: white;
  padding: 10px 0;
}

.colorsito {
  color: black;
}

.shop {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 0 30px;
  display: grid;
  grid-template-areas: "adressShop imgShop" "mapShop imgShop" "questionShop form";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  gap: 20px;
}

.mapShop {
  border-radius: 10px;
  overflow: hidden;
  grid-area: mapShop;
}
.mapShop iframe {
  width: 100%;
  height: 100%;
}

.adressShop {
  padding: 60px 30px;
  grid-area: adressShop;
  background: #77b9b1;
  border-radius: 10px;
  overflow: hidden;
}
.adressShop h3 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.adressShop p,
.questionShop p {
  font-size: 20px;
}

.questionShop {
  width: 100%;
  padding: 60px 30px;
  grid-area: questionShop;
  background: #77b9b1;
  border-radius: 10px;
  overflow: hidden;
}
.questionShop h3 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.imgShop {
  background-image: url("../Media/somos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: imgShop;
  border-radius: 10px;
  overflow: hidden;
}

form {
  grid-area: form;
  background-color: rgba(177, 177, 177, 0.5333333333);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 30px;
}
form .input {
  width: 100%;
  display: block;
  padding: 5px 20px;
  margin-bottom: 5px;
}
form label {
  display: inline-block;
}
form .btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #1c1c1c;
  font-size: 15px;
  border: 1px solid black;
  transition: all 300ms ease;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
form .btn2:hover {
  color: #f1f1f1;
  background-color: #1c1c1c;
  cursor: pointer;
}
form textarea {
  height: 100px;
  resize: none;
}

.data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  padding: 30px;
  gap: 20px;
}

.contentData {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  padding: 10px;
}
.contentData h3 {
  margin-bottom: 10px;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 25px;
}
.contentData p {
  font-size: 18px;
}

/* view tablet */
@media (max-width: 1023px) {
  /* estilo general */
  nav li a {
    font-size: 16px;
  }
  .listNav {
    margin: 0;
    gap: 10px;
  }
  .mainHome {
    display: grid;
    grid-template-areas: "slider slider" "article1Services article2Services" "featured featured";
    gap: 15px;
  }
  .slider {
    height: 400px;
  }
  header p {
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
  }
  footer p {
    font-size: 16px;
  }
  /*index*/
  .boxSlider {
    height: 240px;
    width: 280px;
  }
  .boxSlider label {
    font-size: 20px;
  }
  .boxSlider p {
    font-size: 50px;
  }
  .boxSlider button {
    font-size: 18px;
  }
  .article1Services h2,
  .article1Services a {
    font-size: 30px;
  }
  .featurd h2 {
    font-size: 30px;
  }
  .featurd .collecionFeaturd {
    gap: 20px;
  }
  /* collecion html */
  .items h2 {
    font-size: 28px;
  }
  .collecion {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /*MODELOS HTML */
  .details {
    height: 550px;
  }
  .card3 {
    margin-bottom: 30px;
  }
  .card3 .sizeCard {
    height: 450px;
  }
  /* contact html */
  .shop {
    gap: 15px;
    grid-template-rows: repeat(3, 220px);
  }
  .adressShop, .questionShop {
    padding: 10px 20px;
  }
  .adressShop h3, .questionShop h3 {
    font-size: 30px;
  }
  .adressShop p, .questionShop p {
    font-size: 16px;
  }
  form {
    padding: 10px 20px;
  }
  form label {
    display: none;
  }
  form .btn2 {
    margin: 0;
    padding: 5px 20px;
    background-color: #1c1c1c;
    color: #f1f1f1;
    border: 0;
  }
  form textarea {
    height: 60px;
  }
  /* faq html */
  .data {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 40px;
    row-gap: 20px;
  }
  .contentData h3 {
    font-size: 22px;
  }
  .contentData p {
    font-size: 17px;
  }
}
/*VIEW Movil*/
@media (max-width: 500px) {
  header p {
    display: none;
  }
  header,
  footer {
    border: 0;
    flex-direction: column;
    gap: 20px;
    background-color: black;
  }
  footer p {
    color: #f1f1f1;
  }
  .networkFooter a {
    color: #f1f1f1;
  }
  .items {
    padding: 0;
  }
  .openBtn,
  .closeBtn {
    display: block;
  }
  .cartBtn {
    padding: 0;
    margin: 0;
  }
  nav {
    padding: 20px 30px;
    justify-content: space-between;
  }
  .listNav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    z-index: 4;
    gap: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    padding: 3rem;
  }
  .listNav.visible {
    opacity: 1;
    visibility: visible;
  }
  nav li a {
    color: #1c1c1c;
    margin: 0;
  }
  .mainHome {
    display: grid;
    gap: 10px;
    grid-template-areas: "slider" "article1Services" "article2Services" "featured";
  }
  .slider {
    height: 320px;
  }
  .slider img {
    padding: 0 10px;
  }
  .featurd .collecionFeaturd {
    height: auto;
    overflow: visible;
    gap: 30px;
  }
  .boxSlider {
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 20px;
  }
  .boxSlider a {
    padding: 5px;
  }
  .article1Services {
    display: none;
  }
  .article2Services {
    margin: 0 10px;
  }
  /*btn wsp*/
  .wassap {
    bottom: 40px;
  }
  /*collecion*/
  .items h2 {
    margin-top: 20px;
    font-weight: bold;
  }
  .collecion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .collecion .card2 {
    margin-top: 30px;
  }
  /*lookbook*/
  .details {
    height: 500px;
  }
  .card3 {
    margin-bottom: 30px;
  }
  .card3 .sizeCard {
    height: 400px;
  }
  /*contact*/
  .shop {
    display: grid;
    grid-template-areas: "adressShop" "mapShop" "questionShop" "form";
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 220px);
    margin-bottom: 20px;
  }
  .imgShop {
    display: none;
  }
  /*faq*/
  .data {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

/*# sourceMappingURL=estilo.css.map */
