.items {
    padding: 40px 0;

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: bold;
        padding-left: 30px;
    }
}

.collecion {
    width: 100%;
    height: auto;
    display: grid;
    padding: 10px;
    row-gap: 30px;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-items: center;
}

.card2 {
    width: 280px;
    height: auto;
    border-radius: 10px;
    border: 1px solid;
    overflow: hidden;
    .imgCard {
        width: 100%;
        height: 250px;
        img {
            width: 100%;
            height: 220px;
            top: 0;
            left: 0;
        }
    
      
        h3{
            text-transform: capitalize;
        }
    }
}



.offer::after {
    content: 'Oferta';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    text-align: center;
    padding: 10px 10px;
    z-index: 3;
    color: $colorPrimario;
}

.card2 {
    .compras{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        .price{
            background: red;
            border-radius: 0 5px 5px 0;
            font-size: 1rem;
            padding: 10px;
        }
        .btnComprar{
            display: block;
            border: none;
            background: #2f7d88;
            font-size: 1rem;
            padding: 0 5px;
            cursor: pointer;
        }
    }
}