.items {
    padding: 40px 0;

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: bold;
        padding-left: 30px;
    }
}
.searchContainer{
    text-align: center;
    margin-top: 10px;
    label{
        font-size: 16px;
    }
    input{
        padding: 5px 10px;
        font-size: 15px;
        width: 300px;
        border-radius: 10px;
        border: 5px solid $colorSecundario;
        margin-bottom:20px
    }
    .buscarError{
        color: red;
        margin-top: 10px;
        display: none;
    }
}
.collecion {
    width: 100%;
    height: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-items: center;
}

.card2 {
    width: 280px;
    height: auto;
    border-radius: 10px;
    border: 1px solid;
    overflow: hidden;
    .imgCard {
        width: 100%;
        height: 250px;
        img {
            width: 100%;
            height: 85%;
            top: 0;
            left: 0;
           border-bottom: 1px solid ;
        }
        h3{
            text-transform: capitalize;
            font-size: 20px;
        }
    }
}



.offer::after {
    content: 'Oferta';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    text-align: center;
    padding: 10px 10px;
    z-index: 3;
    color: $colorPrimario;
}

.card2 {
    .compras{
        display: flex;
        justify-content: space-between;
        .price{
            background: yellow;
            border-radius: 0 5px 5px 0;
            font-size: 1rem;
            padding: 10px;
        }
        .btnComprar{
            display: block;
            border: none;
            background: green;
            font-size: 1rem;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px 0 0 5px;
        }
    }
}