
.shop {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0 30px;

    display: grid;
    grid-template-areas: "adressShop imgShop" "mapShop imgShop" "questionShop form";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 350px);
    gap: 20px;
}

.mapShop {
    @include borderGeneral(10px);
    grid-area: mapShop;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.adressShop {
    padding: 60px 30px;
    grid-area: adressShop;
    background: #77b9b1;
    @include borderGeneral(10px);
    h3 {
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
}

.adressShop p,
.questionShop p {
    font-size: 20px;
}
.questionShop {
    width: 100%;
    padding: 60px 30px;
    grid-area: questionShop;
    background: #77b9b1;
    @include borderGeneral(10px);
    h3{
        font-size: 35px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

}

.imgShop {
    background-image: url("../Media/somos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: imgShop;
    @include borderGeneral(10px);
}

form {
    grid-area: form;
    background-color: #b1b1b188;
    @include borderGeneral(10px);
    padding: 30px 30px;
    .input {
        width: 100%;
        display: block;
        padding: 5px 20px;
        margin-bottom: 5px;
    }
    label{
        display: inline-block;
    }
    .btn2 {
        display: inline-block;
        padding: 10px 20px;
        background-color:transparent;
        color: $colorSecundario;
        font-size: 15px;
        border:1px solid black;
        transition: all 300ms ease;
        margin-top: 5px;
        @include borderGeneral(5px);
        &:hover {
            color: $colorPrimario;
            background-color: $colorSecundario;
            cursor: pointer;
        }
    }

    textarea {
        height: 100px;
        resize: none;
    }
}