/* RESETEO*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family:Arial, Helvetica, sans-serif;
}

.patron {
    max-width: 1500px;
    margin: 0 auto;
}
// HEADER
header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    @include anclas($colorPrimario,25px);
}
nav h1{
    margin: 0;
    font-weight: bold;
    font-size: 35px;
}
.listNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    a {
        @include anclas($colorPrimario,16px);
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

header p{
    font-size: 25px;
    font-style: italic;
    padding: 20px 0;
    margin: 0;
}
//FOOTER
footer {
    padding: 20px 30px;
    border-top: black 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        color: $colorSecundario;
        display: inline-block;
        font-size: 20px;
        margin: 0;
    }
}

.networkFooter a {
    @include anclas($colorSecundario,25px);
    margin-left: 10px;
    transition: transform 300ms ease;
    &:hover {
        transform: scale(1.3);
    }
}
/*BOTONES*/
.openBtn,
.closeBtn,
.cartBtn,
.userBtn {
    display: inline-block;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    color: $colorPrimario;
    background-color: black;
    padding: 10px;
}

.cartBtn,
.userBtn {
    color: $colorTerciario;
    background-color: $colorPrimario;
    border-radius: 50%;
}

.openBtn,
.closeBtn {
    display: none;
}

.wassap {
    position: fixed;
    z-index: 3;
    bottom: 60px;
    right: 30px;
    border-radius: 50%;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;

    &:hover {
        transform: scale(1.1);
    }

    .btnWass {
        width: 60px;
    }
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}
  