
.data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 20px;
}

.contentData {
    @include borderGeneral(10px);
    border: 1px solid;
    padding: 10px;
    h3 {
        margin-bottom: 10px;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }
}