.mainHome {
    width: 100%;
    height: auto;
    display: grid;
    gap: 25px;
    grid-template-areas: "slider slider slider" "article1Services article1Services article2Services" "featured featured featured";
}

.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    grid-area: slider;

    ul {
        display: flex;
        padding: 0;
        animation: cambio 20s infinite alternate linear;
        width: 400%;
    }

    li {
        list-style-type: none;
        width: 100%;
        height: 500px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.boxSlider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    z-index: 1;
    background-color: rgba(196, 196, 196, 0.6);
    width: 350px;
    height: 300px;
    padding: 30px;
    span{
        font-size: 30px;
        display: inline-block;
    }
    p {
        font-size: 60px;
        margin: 10px 0;
    }
    a {
        @include anclas($colorSecundario,20px);
        background-color: $colorPrimario;
        width:100%;
        padding: 10px 0;
        transition: all 300ms ease;
        border-radius: 5px;
        text-align: center;
        &:hover {
            background-color: #3c3c3c;
            color: $colorPrimario;
            cursor: pointer;
        }
    }
}

.article1Services {
    background-image: url("../Media/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    grid-area: article1Services;
    padding-left: 50px;

    h2 {
        font-size: 35px;
        padding-top: 60px;
        font-weight: normal;
    }

    a {
        @include anclas($colorSecundario,35px);
        position: relative;
        font-weight: bold;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $colorSecundario;
            transform: scale(1);
            transform-origin: bottom left;
            transition: transform 300ms ease-in-out;
        }

        &:hover::after {
            transform: scale(0);
            transform-origin: bottom left;
        }
    }
}

.article2Services {
    height: 200px;
    grid-area: article2Services;

    img {
        width: 100%;
        height: 100%;
    }
}

.featurd {
    padding: 40px 0;
    grid-area: featured;
    h2 {
        font-weight: normal;
        text-transform: capitalize;
        text-align: center;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .collecionFeaturd {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}

.card {
    width: 300px;
    height: 350px;
    display: block;
    color: $colorSecundario;
    border-radius:20px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: transform 500ms ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    &:hover::before {
        content: 'Ver mas';
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: black;
        color: white;
        position: absolute;
        text-align: center;
        padding: 22px 0;
        z-index: 2;
        text-transform: capitalize;
        font-size: 20px;
    }
}

.txtCard {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    background: white;

    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
        margin: 5px 0;
    }

    p {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 20px;
    }
}
.cOff{
    display: none;
}
.modal{
    background-color: $colorPrimario;
    width: 500px;
    position: fixed;
    z-index: 3;
    top:60px;
    right: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    // padding: 20px;
   
    .hModal{
        display: flex;
        justify-content: space-between;
        padding:  20px;
        background-color: black;
     
        h2{
            font-size: 30px;
            color: white;
        }
        .closeCart{
            border: none;
            cursor: pointer;
            background-color: transparent;
            font-size: 25px;
            display: inline-block;
            color: white;
        }
    }
    .cModal{
        display: flex;
        flex-direction: column;
        width: 100%;
        .cartProduct{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid ;
            padding: 10px 0;
            margin: 5px 0;
            .imgModal{
                width: 50px;
                height: 50px;
            }
            .closeProduct{
                padding: 10px;
                border: none;
                cursor: pointer;
                background-color: red;
                font-size: 1rem;
                display: inline-block;
            }
        }
    }
    .fModal{
        padding: 10px 0;
        p{
            font-size: 20px;
            text-align: center;
        }
    }
}