.details {
    height: 700px;
    overflow: hidden;
}
.card3{
    box-shadow: 0 5px 10px black;

    a {
        @include anclas($colorTerciario,15px);
        text-transform: uppercase;
        margin-top: 10px;
        h3{
            font-weight: bold;
        }
    }
}
.colorsito {
    color: black;
}