
/* view tablet */
@media (max-width: 1023px) {
    /* estilo general */
    nav li a {
        font-size: 16px;
    }

    .listNav {
        margin: 0;
        gap: 10px;
    }

    .mainHome {
        display: grid;
        grid-template-areas:
            "slider slider"
            "article1Services article2Services"
            "featured featured"
        ;
        gap: 15px;
    }

    .slider {
        height: 400px;
    }
    header p{
        padding: 20px 20px;
        font-size: 18px;
        text-align: center;
    }
    footer p {
        font-size: 16px;
    }
    /*index*/
    .boxSlider {
        height: 240px;
        width: 280px;
    }

    .boxSlider label {
        font-size: 20px;
    }

    .boxSlider p {
        font-size: 50px;
    }

    .boxSlider button {
        font-size: 18px;
    }

    .article1Services h2,
    .article1Services a {
        font-size: 30px;
    }

    .featurd h2 {
        font-size: 30px;
    }
    .featurd .collecionFeaturd{
        gap: 20px;
    }
    /* collecion html */
    .items h2 {
        font-size: 28px;
    }

    .collecion {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    /*MODELOS HTML */
    .details {
        height: 550px;
    }
    .card3{
        margin-bottom: 30px;
    }
    .card3 .sizeCard {
        height: 450px;
    }

    /* contact html */
    .shop {
        gap: 15px;
        grid-template-rows: repeat(3, 220px);
    }

    .adressShop, .questionShop{
        padding: 10px 20px;
    }
    .adressShop h3, .questionShop h3{
        font-size: 30px;
    }
    .adressShop p,.questionShop p{
        font-size: 16px;
    }
    form{
        padding: 10px 20px;
    }
    form label{
        display: none;
    }
    form .btn2{
        margin: 0;
        padding: 5px 20px;
        background-color: $colorSecundario;
        color: $colorPrimario;
        border: 0;
    }

    form textarea {
        height: 60px;
    }

    /* faq html */
    .data {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 40px;
        row-gap: 20px;
    }

    .contentData h3 {
        font-size: 22px;
    }

    .contentData p {
        font-size: 17px;
    }
}
/*VIEW Movil*/
@media (max-width:500px) {
    //ESTILO GENERAL
    header p{
        display: none;
    }
    header,
    footer {
        border: 0;
        flex-direction: column;
        gap: 20px;
        background-color: black;
        
    }
    footer p{
        color: $colorPrimario;
    }
    .networkFooter a{
        color: $colorPrimario;
    }
    .items {
        padding: 0;
    }

    .openBtn,
    .closeBtn {
        display: block;
    }
    .cartBtn{
        padding: 0;
        margin: 0;
    }
    nav {
        padding: 20px 30px;
        justify-content: space-between;
    }
    .listNav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: absolute;
        z-index: 4;
        gap: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $colorPrimario;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        padding: 3rem;
    }

    .listNav.visible {
        opacity: 1;
        visibility: visible;
    }

    nav li a {
        color: $colorSecundario;
        margin: 0;
    }
    //INDEX
    .mainHome {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "slider"
            "article1Services"
            "article2Services"
            "featured"
    }

    .slider {
        height: 320px;
    }
    .slider img{
        padding: 0 10px;
    }
    .featurd .collecionFeaturd {
        height: auto;
        overflow: visible;
        gap: 30px;
    }

    .boxSlider{
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        margin: auto;
        padding: 20px;
    }
    .boxSlider a{
        padding: 5px;
    }
    .article1Services{
        display: none;
    }
    .article2Services{
        margin: 0 10px;
    }
    /*btn wsp*/
    .wassap{
        bottom: 40px;
    }
    /*collecion*/
    .items h2{
        margin-top: 20px;
        font-weight: bold;
    }
    .collecion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .collecion .card2 {
        margin-top: 30px;
    }

    /*lookbook*/
    .details {
        height: 500px;
    }
    .card3{
        margin-bottom: 30px;
    }
    .card3 .sizeCard {
        height: 400px;
    }
    /*contact*/
    .shop {
        display: grid;
        grid-template-areas:
            "adressShop"
            "mapShop"
            "questionShop"
            "form"
        ;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 235px);
        margin-bottom: 20px;
    }

    .imgShop {
        display: none;
    }
    form .btn2{
        margin-top: 0;
    }
    form .formulrioGrupo{
        margin-bottom: 0;
    }
    /*faq*/
    .data {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

}