/* Rules Generals */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f3f3f3;
    font-family: sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}
.patron{
    max-width: 1500px;
    margin: 0 auto;
}
header{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100%;
    height: auto;
    background-color: rgba(30, 30, 30, 1);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.listNav{
    display: flex;
    justify-content: center;
    margin: 0;
}
nav li{
    list-style-type: none;
    display: inline-block;
    
}
nav li a{
    text-decoration: none;
    color: #f1f1f1;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.8;
}
nav li a:hover{
    opacity: 1;
}
header img{
    width: 200px;
    height: 100px;
    display: block;
}
footer{
    padding: 20px 0;
    border-top: black 1px solid;
    display: flex;
    justify-content: space-between;
}
footer p{
    color: #4d4b4b;
    display:inline-block ;
    font-size: 20px;
    margin: 0;
}
.networkFooter a{
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
    color: black;
    transition: transform 300ms ease;
}
.networkFooter a:hover{
    transform: scale(1.3);
}
/* html INDEX */
.mainHome{
    width: 100%;
    height: auto;
    display: grid;
    gap: 25px;
    grid-template-areas: 
    "slider slider slider"
    "article1Services article1Services article2Services"
    "featured featured featured"
    ;
}
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    grid-area: slider;
}
.slider ul{
    display: flex;
    padding: 0;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    list-style-type: none;
    width: 100%;
    height: 500px;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left:-300%;}
}
.boxSlider{
    /* se mueve con la caja padre */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    z-index: 1;

    background-color: rgba(196, 196, 196, 0.6);
    width: 300px;
    height: 300px;
    padding: 30px;
}
.boxSlider label{
    font-size: 30px;
}
.boxSlider p{
    font-size: 60px;
    margin: 10px 0;
}
.boxSlider button{
    border: none;
    width: 100%;
    background-color: #f3f3f3;
    padding: 10px 0;
    font-size: 20px;
    transition: all 300ms ease;
}
.boxSlider button:hover{
    background-color: #3c3c3c;
    color: #f3f3f3;
    cursor: pointer;
}
.article1Services{
    background-color: red;
    height: 200px;
    grid-area: article1Services;
    padding-left: 50px;
}
.article1Services h2{
    font-weight: 300px;
    font-size: 35px;
    padding-top:60px;
}
.article1Services a{
    text-decoration: none;
    font-size: 35px;
    color: #f3f3f3;
    display: inline-block;
    position: relative;
}
.article1Services a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
    transform: scale(1);
    transform-origin: bottom left;
    transition: transform 300ms ease-in-out;
}
.article1Services a:hover::after{
    transform: scale(0);
    transform-origin: bottom left;
}
.article2Services{
    height: 200px;
    grid-area: article2Services;
}
.article2Services img{
    width: 100%;
    height: 100%;
}
.featurd{
    background-color: beige;
    padding: 30px 0;
    grid-area: featured;
}
.featurd h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
.featurd .collecionFeaturd{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #cfcfcf;
}
.card .imgCard{
    background-image: url("../Media/t3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    transition: all 500ms ease-in-out;
    position: relative;
}
.card .imgCard:hover{
    background-image: url("../Media/t2.jpg");
}
.card .imgCard:hover::after{
    content: 'Hot Sale';
    position: absolute;
    bottom:0;
    left: 0 ;
    width: 100%;
    background-color: rgb(121, 120, 120);
    text-align: center;
    padding: 10px 0;
}
.card a{
    display: block;
    text-decoration: none;
    color: #1c1c1c;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}
.card label{
    display: inline-block;
    color: #6d6d6d;
    margin-top:5px;
}
/* html collecion */
.items{
    /* background-color: burlywood; */
    padding: 40px 0;
}
.items h2{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: normal;
    padding-left: 30px;
}
.collecion{
    width: 100%;
    height: auto;
    display: grid;
    padding-top: 20px;
    gap: 10px;
    /* grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); */
    grid-template-columns: repeat(4,minmax(300px, 1fr));   
    justify-items: center;
}
.card2{
    width: 300px;
    height:300px;
    overflow: hidden;
    margin-top: 25px;
}
.contentCard4{
    display: block;
    color: black;
    width: 100%;
    height: 100%;
    background-image: url("../Media/t1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 300ms ease;
    position: relative;
}
.contentCard4:hover{
    transform: scaleX(1.1);
}
.contentCard4:hover::before{
    content: 'View Details';
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    color:white;
    position: absolute;
    text-align: center;
    padding: 20px 0;
    z-index: 2;;
}
.txtCard4{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    background:white
}
.txtCard4 h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 5px 0;
}
.txtCard4 label{
    font-style: italic;
    display: inline-block;
    margin-bottom: 5px;
}
/* html lookbook */
.details{
    height: 660px;
    overflow: hidden;
}
.card3 .sizeCard{
    height: 600px;
    opacity: 0.7;
}
.card3 .sizeCard:hover{
    opacity: 1;
}
.card3 a{
    display: block;
    text-decoration:none;
    text-transform: uppercase;
    margin-top: 10px;
    color: #1c1c1c;
}
.colorsito{
    color: black;
}
/* html contact */
.shop{
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* apply grid */
    display: grid;
    grid-template-areas:
    "adressShop imgShop" 
    "mapShop imgShop" 
    "questionShop form" 
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3,250px);
    gap: 20px;
}

.mapShop{
    grid-area: mapShop;
}
.mapShop iframe{
    width: 100%;
    height: 100%;
}
.adressShop{
    padding: 60px 30px;
    grid-area: adressShop;
    background-color: #87eba0;
}
.adressShop h3, .questionShop h3{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.adressShop p, .questionShop p{
    font-style: italic;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
}
.adressShop label, .questionShop label{
    display: inline-block;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 10px;
}
.questionShop{
    width: 100%;
    padding: 60px 30px;
    grid-area: questionShop;
    background: #77b9b1;
}
.imgShop{
    background-image: url("../Media/m1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    grid-area:imgShop;
}
form{
    grid-area: form;
    background-color: #dad9d988;
    box-shadow: 5px 5px 10px black;
}
form .input{
    width: 100%;
    display: block;
    padding: 5px 20px;
    margin-bottom: 5px;
}
form .btn2{
    display: inline-block;
    padding: 5px 20px;
    background-color: #1c1c1c;
    color: #ececec;
    font-size: 15px;
    border: none;
    transition: all 300ms ease;
    margin-top: 10px;
    float: right;
}
form .btn2:hover{
    color: #1c1c1c;
    background-color: #858484;
    cursor: pointer;
}
form textarea{
    height: 100px;
    resize: none;
}
/* html faq */
.data{
    width: 100%;
    display: grid;
    column-gap: 60px;
    row-gap: 40px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(3,1fr);
    margin:40px 0;
}
.contentData{
    background-color: rgba(212, 209, 209, 0.5);
}
.contentData h3{
    margin-bottom: 25px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 25px;
}
.contentData p{
    font-style: italic;
    font-size: 20px;
}
.openBtn, .closeBtn, .cartBtn, .userBtn{
    display: inline-block;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: black ;
    padding: 10px;
}
.cartBtn, .userBtn{
    color:#8d8d8d;
    background-color: white;
    border-radius:50%;
    margin-left: 15px;
}
.openBtn, .closeBtn{
    display: none;
}
/* view tablet */
@media (max-width: 1023px){
    
    footer p{
        font-size: 16px;
    }
    /* home html */
    nav li a{
        margin-right: 15px;
    }
    .listNav{
        margin: 0;
    }
    .mainHome{
        display: grid;
        grid-template-areas:
        "slider slider"
        "article1Services article2Services"
        "featured featured"
        ;
        gap: 15px;
    }
    .slider{
        height: 400px;
    }
    .boxSlider{
        height: 240px;
        width: 280px;
    }
    .boxSlider label{
        font-size: 20px;
    }
    .boxSlider p{
        font-size: 50px;
    }
    .boxSlider button{
        font-size: 18px;
    }
    .article1Services h2, .article1Services a{
        font-size: 30px;
    }
    .featurd h2{
        font-size: 30px;
    }
    /* collecion html */
    .items h2{
        font-size: 28px;
    }
    .collecion{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    /* contact html */
    .shop{
        gap: 15px;
        grid-template-rows: repeat(3, 220px);
    }
    .adressShop, .questionShop{
        padding: 50px 25px;
    }
    form textarea{
        height: 60px;
    }
    /* faq html */
    .data{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 40px;
        row-gap: 20px;
    }
    .contentData h3{
        font-size: 22px;
    }
    .contentData p{
        font-size: 17px;
    }
}
@media (max-width:500px){
    header, footer{
        border: 0;
    }
    .items{
        padding:0;
    }
    .openBtn, .closeBtn{
        display: block;
    }  
    nav{
        padding: 20px 30px;
        justify-content: space-between;
    }
    .listNav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        padding: 1rem 3rem;
        color: #1c1c1c;
    }
    .listNav.visible{
        opacity: 1;
        visibility: visible;
    }
    nav li a{
        color: black;
        padding-top: 20px;
        margin: 0;
    }
    .mainHome{
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "slider"
        "article1Services"
        "article2Services"
        "featured"
    }
    .slider{
        height: 300px;
    }
    .featurd .collecionFeaturd{
        height: auto;
        overflow: visible;
    }

    /*collecion*/
    .collecion{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /*lookbook*/
    .details{
        height: 550px;
    }
    .card3 .sizeCard{
        height: 480px;
    }
    /*contact*/
    .shop{
        display: grid;
        grid-template-areas:
        "adressShop"
        "mapShop"
        "questionShop"
        "form"
        ;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(4,220px);
    }
    .imgShop{
        display: none;
    }
    /*faq*/
    .data{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}
/* view tablet */
